{% extends "base.html" %}

{% block content %}
    <div class="content">
<h2>About us</h2>

  <p>
    The basic catalogue entries in the Hebrew and Judaica Catalogue were created using TEI/XML. Manuscript descriptions
    were produced according to the ENRICH schema and are based on the Catalogue of the Hebrew manuscripts in the
    Bodleian Library and in the college libraries of Oxford by Adolf Neubauer, vol. 1 (Oxford: Clarendon Press,
    1886-1906), the Catalogue of the Hebrew manuscripts in the Bodleian Library : Supplement of addenda and corrigenda
    to Vol. 1 (Oxford: Clarendon Press, 1994), and the web-catalogue of the Institute of Microfilmed Hebrew Manuscripts
    (<a href="http://aleph.nli.org.il/F/DP26AVDTI7L6HL1SMPEJLBG8LHVASSDCFH1B2JM9L298IXP8SU-00369?func=find-b-0&local%5Fbase=nnlmss&con%5Flng=eng&pds_handle=GUEST" target="_blank" rel="noopener">National
    Library of Israel</a>). TEI/XML schema provides an extensible framework that will allow for the future enhancements
    of these records.
  </p>

  <p>
    Names occurring in the records have been standardised according to the
    <a href="http://authorities.loc.gov/" target="_blank">LC Authority file</a> and a link to the
    <a href="https://viaf.org/" target="_blank" rel="noopener">Virtual International Authority File</a> is provided for
    further reference.
  </p>

  <p>
    The transliteration of Hebrew word follow the Library of Congress
    <a href="https://www.loc.gov/catdir/cpso/romanization/hebrew.pdf" target="_blank" rel="noopener">romanization
      table</a>.
  </p>

  <p>
    The digitisation of the majority of manuscripts was funded by the Polonsky Foundation. We are also grateful to Mr
    George Blumenthal whose support enabled the digitisation (by photographer Ardon Bar-Hama) of the Genizah fragments.
  </p>

  <p>
    The same Genizah fragments are also available in their own
    <a href="https://genizah.bodleian.ox.ac.uk/" target="_blank">dedicated catalogue</a>. Further information is
    available in its <a href="https://genizah.bodleian.ox.ac.uk/about" target="_blank">about page</a>.
  </p>
    </div>
{% endblock %}
