{% extends "base.html" %}

{% block content %}
    <div class="content">
        <h2>About us</h2>
<h3>The Catalogue</h3>
    <p> We have used the phrase "manuscripts from the Islamicate World" to more accurately describe
        the content of this catalogue. The rich collections of manuscripts bear witness to the
        linguistic, religious and cultural diversity of what commonly features as the Islamic
        world.</p>

    <p> The combined holdings of the contributing Libraries of the UK are of considerable
        intellectual and cultural significance. All participating libraries have been selectively
        collecting manuscripts from all subject areas, and of various geographical origins, dating
        from the 7th to the 19th century CE.</p>

    <p>
        <strong>FIHRIST is a free on-line catalogue for manuscript descriptions.</strong>
    </p>

    <p>
        <strong>FIHRIST is not a digital Library.</strong>
    </p>

    <p> If a digital copy of a works exists on-line, a link is provided and maintained by the
        institution holding the manuscript. To request digital copies, or contact the institution
        directly, you may use the field Comment on this record at the bottom of every description. </p>

    <h3>History &amp; Methodology</h3>

    <p> FIHRIST evolved from a joint Oxford-Cambridge pilot-project (Oxford Cambridge Islamic
        Manuscript Catalogue on-line – OCIMCO, funded by <a href="https://www.jisc.ac.uk/" target="_blank">JISC</a>
        [2009-11]), into a UK-wide union catalogue, continuously expanding in volume, as libraries
        and research projects are contributing manuscripts descriptions. </p>

    <p> The initial focus of the pilot was to build a sustainable data format using a tailored
        schema for the open source <a href="http://www.tei-c.org/Guidelines/P5/" target="_blank">TEI/XML</a>
        metadata standard and incorporating established library standards for description (<a
            href="https://viaf.org/" target="_blank">Name Authority</a>, <a
            href="https://www.loc.gov/catdir/cpso/roman.html" target="_blank">LC Transliteration</a> and <a
            href="http://id.loc.gov/authorities/subjects.html" target="_blank">Subject Headings</a>). Documentation
        of how the standard was applied to Islamic manuscripts can be found in the <a
            href="https://github.com/fihristorg/fihrist-mss/raw/master/archive/old_manual.pdf" target="_blank"
            >manual written to provide guidelines to cataloguers</a>. This has since been developed
        into a <a href="https://github.com/msDesc/consolidated-tei-schema" target="_blank">consolidated schema
            available for use by other TEI catalogues</a>. An <a
            href="https://github.com/fihristorg/fihrist-mss/blob/master/collections/cambridge%20university/Add_580.xml" target="_blank"
            >example of a full record</a> is also provided.</p>

    <p>A large number of entries in FIHRIST were created using "legacy data", the intellectual
        content of predated or historic catalogues, hand-lists and annotated card catalogues. Some
        records may however, be the result of research carried out by contemporary librarians and
        academics under consultation of the physical work. Therefore, the level of codicological
        (physical descriptions of manuscripts) and bibliographic (content and references) detail
        varies and is changing over time as research proceeds.</p>

    <h3>Reuse</h3>

    <p>All the TEI files are available to download from <a
            href="https://github.com/fihristorg/fihrist-mss" target="_blank">our repository on GitHub</a>.</p>

    <h3>Contact us</h3>

    <p>We welcome contributions by holding institutions, private collectors or projects creating
        manuscript descriptions to enrich the volume and quality of FIHRIST.</p>

    <p>The FIHRIST board of directors is chaired by Yasmin Faghihi and Alasdair Watson and Huw
        Jones. Please use the <i>Contact us</i> link at the very bottom of every page for general
        queries.</p>

    <p>For feedback, corrections and additions to individual catalogue entries, please use the
            <i>Comment on this record</i> links at the end of each manuscript description.</p>
    </div>
{% endblock %}
